<%= render "layouts/header" %>
<br><br>
<%= form_with model: @recipes, url: {action: "create"} do |form| %>
<table class="table" style="border: 0px solid;">
  <tbody>
    <tr>
      <td>
        <%= form.label :label, "Créateur" %>
      </td>
      <td colspan="7">
        <%= form.text_field :user_name, value:@user.username %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :label, "Nom de la recette" %>
      </td>
      <td colspan="7">
        <%= form.text_field :nom %>
      </td>
    </tr>
    <tr>
      <td>
        <%= form.label :label, "Description" %>
      </td>
      <td colspan="7">
        <%= form.text_area :description, size: "50x5" %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :label, "Temps de préparation" %>
      </td>
      <td colspan="7">
        <%= form.number_field :temps_prepa_h, step: 1 %>
        <%= form.label :label, "h" %>
        <%= form.number_field :temps_prepa_m, step: 5 %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :label, "Temps de cuisson" %>
      </td>
      <td colspan="7">
        <%= form.number_field :temps_cuisson_h, step: 1 %>
        <%= form.label :label, "h" %>
        <%= form.number_field :temps_cuisson_m, step: 5 %>
      </td>
    </tr>

    <tr>
      <td>
        <%= form.label :label, "Temps de repos" %>
      </td>
      <td colspan="7">
        <%= form.number_field :temps_repos_h, step: 1 %>
        <%= form.label :label, "h" %>
        <%= form.number_field :temps_repos_m, step: 5 %>
      </td>
    </tr>
    
    <tr>
      <td colspan="8">
        <h1>Catégorie</h1>
      </td>
    </tr>

    <tr>
      <td></td>
      <% (0..6).each do |n| %>
        <div class="col">
          <td>
          <%= form.radio_button :regime, @diets[n] %>
          <%= form.label :label, @diets[n] %>
          </td>
        </div>
      <% end %>
    </tr>


    <tr>
      <td colspan="8">
        <h1>Ingrédient</h1>
      </td>
    </tr>

    
      <% (1..6).each do |n| %>
        <tr>
        <td></td>
          <td colspan="2">
            <%= form.label :label, "Quantité: " %>
            <%= form.number_field :"quantity_#{n}", step: 0.1 %>
          </td>

          <td colspan="1">
            <%= form.label :label, "Mesure: " %>
            <%= form.select :"mesure_#{n}", @mesures %>
          </td>

          <td colspan="4">
            <%= form.label :label, "Ingrédient: " %>
            <%= form.select :"ingredient_#{n}", @tab_ingredients %>
          </td>
        </tr>
      <% end %>


    <tr>
      <td colspan="8">
        <h1>Etapes</h1>
      </td>
    </tr>

<tr>
<td></td>
    <% (1..2).each do |n| %>
      <td colspan="3">
        <%= form.label :label, "Etape " + n.to_s %>
        <%= form.text_area :"etape_#{n}", size: "50x5" %>
      </td>
    <% end %>
</tr> 

<tr>
<td></td>
    <% (3..4).each do |n| %>
      <td colspan="3">
        <%= form.label :label, "Etape " + n.to_s %>
        <%= form.text_area :"etape_#{n}", size: "50x5" %>
      </td>
    <% end %>
</tr>
  </tbody>
</table>

<div class="action-save">
  <%= form.submit %>
</div>
<% end %>